
.day-row{
    height: 10vh;
    text-align: center;
    font-size: 20px;
}
.courserow{
    height: 20vh;
    display: flex;
    align-items: center;
    margin: 0px;
}
.time-row{
    background: #f2f6f7;
    border: 1px dashed #ffffff ;
}